body {
    background-image:url(Images/background.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .container{
        width: 550px;
        height: 450px;
        background-color : #82ab79;
        border-radius: 15%;
        display: flex;
        margin-left: 30%;
        margin-top: 12%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }


    .continue{
        width: 250px;
        height: 40px;
        background-color: #26B607;
        padding: 10px 20px; /* Ajustez la taille du bouton */
        border-radius: 50px;
        margin-left: 2%;
        margin-top: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        cursor: pointer;
    }

    .user-input {
        width: 50%; /* Ajustez la largeur selon vos besoins */
        height: 20px; /* Ajustez la hauteur selon vos besoins */
        padding: 10px;
        margin : 5%;
        border: 2px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        resize: none; /* Pour empêcher le redimensionnement de la zone de texte */
    }